.logo {
    /* font-size: 200px; */
    transition: all 0.5s ease-in-out;
    cursor: default;
    user-select: none;
}

.pointer {
    cursor: pointer !important;
}

.logo-size-xl {
    font-size: 5em;
}

.logo-size-big {
    font-size: 4em;
}

.logo-size-medium {
    font-size: 3em;
}

.logo-size-small {
    font-size: 2em;
}

.logo-size-tiny {
    font-size: 1em;
}

.logo-blacked {
    background-color: var(--logo-u-color-bg);
    color: var(--logo-u-textcolor);
    border-right: 0.05em solid var(--logo-u-color-bg);
    padding-right: 0.25em;
    padding-left: 0.25em;
    transition: all 0.5s ease-in-out;
}

.logo-whited {
    padding-right: 0.25em;
    padding-left: 0.25em;
    background-color: var(--logo-rest-color-bg);
    color: var(--logo-rest-textcolor);
    transition: all 0.5s ease-in-out;
}

.logo-border {
    border: 0.05em solid var(--logo-u-color-bg);
}


/* Logo Fonts */

.font-barlow {
    font-family: 'Barlow', sans-serif;
}

.font-arial {
    font-family: "Arial";
}

.font-comicsansms {
    font-family: "Comic Sans MS";
}